
@font-face {
    font-family: 'Needlework Good Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Needlework Good Regular'), url('./Needlework_Good.woff') format('woff');
    }

    h1 {
        font-family: 'Needlework Good Regular';
        font-weight: 200;
        color:rgb(252, 189, 55);
        text-shadow: 10px 5px 5px black;
    }

